:root {
  --ml-baby-blue: #B1D4E0;
  --wt-midnight-blue: #41729F;
  --wt-blue-gray: #5885AF;
  --wt-dark-blue: #274472;
  --wt-baby-blue: #C3E0E5;
  --black: #000000;
  --ss-baby-blue: #D4F1F4;
  --ss-blue-grotto: #189AB4;
  --ss-navy-blue: #05445E;
  --t-navy-blue: #2F4D83;
  --ss-blue-green: #75E6DA;
  --t-light-blue: #8BCED5;
  --t-white: #F7F8F9;
  --t-red: #E3AAA9;
  --t-dark-blue: #294683;
}
