.outer-container-homepage {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: var(--ss-navy-blue);
    padding-left: 50px;
    padding-top: 60px;
    padding-bottom: 50px;
    overflow: hidden;
}

@media (max-width: 1000px) {
    .outer-container-homepage {
        flex-direction: column;
        overflow: auto;
        align-items: center;
    }
}

.grid-container-homepage {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 24px;
}

.side-menu-homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.algorithms-and-heuristics-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 18px;
}

.map-size-slider-container-homepage {
    width: 268px;
    margin-top: 16px;
}

.text-fields-container-homepage {
    width: 268px;
}


.about-us-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.about-us-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 1px black;
  cursor: pointer;
  background-color: var(--ss-blue-grotto);
}

.about-us-button:hover {
  background-color: var(--ss-blue-grotto-hover);
}